<div class="bg">

	<% if logged_in? %>
		<%= current_user.id  %>
	<% end %>

	<div class="wrap">	
		<%= image_tag('background/logo2.png', :class => "item logoimage" )%>
		<br>
	</div>	

	<div class="blackwindow">
		<%= link_to login_path do %>
			<span>▶︎</span>Continue Game
		<% end %>
		<%= link_to new_user_path do %>
			<span>▶︎</span>Start new game
		<% end %>
	</div>

</div>
