<div class="bg">

	<% if logged_in? %>
		<%= current_user.id  %>
	<% end %>

	<div class="wrap">	
		<%= image_tag('background/logo2.png', :class => "item logoimage" )%>
		<br>
		<div class="item blackwindow">
			<%= link_to "Continue game", "#", :style=>"color:white;" %> <br>
			<%= link_to "Start new game", "#", :style=>"color:white;" %>
		</div>
	</div>	

</div>
