<!-- <h1 class="text-center">Sign-in</h1> -->
<div class="form-container">
	<%= form_for(:session, url: signin_path, html: {class: 'foo'})do |f| %>
	<div class="form-name">
		<p>EMAIL</p>
	</div>
	<div class="form-self">
		<%= f.email_field :email,placeholder: "ENTER YOUR EMAIL" %>
	</div>
	<div class="form-name">
		<p>PASSWORD</p>
	</div>
	<div class="form-self">
		<%= f.password_field :password,placeholder: "ENTER YOUR PASSWORD" %>
	</div>
	<div class="submit-form">
		<%= f.submit "LOG IN", :class=>"submit" %>
	</div>

	<% end %>
</div>