<div class="satan_room">

	<h1 class="text-center" style="color: white">This is Satan Room</h1>

	<div class="text-center m-4 ,style="color: white, font-size: 50px"">

		<%= link_to "CREATE NEW QUEST", new_admin_category_path%> 
		<br>
		<%= link_to "DELETE EXPLORER", "#" %>
		<br>
		<%= link_to "LIST OF QUEST", admin_categories_path %>

	</div>	

</div>