<div class="row">
	<div class="col-lg-6 offset-sm-0 offset-xs-0">
		<div class="col-lg-6 offset-lg-3 offset-sm-0 offset-xs-0">
			<div class="container">
				<h1 class="text-center">Edit Page</h1>
				<%= render "form" %>
			</div>
		</div>
	</div>
</div>