@import "bootstrap";

body
{
	font-family: 'Press Start 2P', cursive;
}

.bg
{
	height: 1200px;
	background: url('background/top_bg.png');
	background-size: 100% 100%;	
}

.icon
{
	height: 50px;
	width: 50px;
	fill: #fff;
}

.nav-item ul li 
{
	list-style: none;
	color: white;
	text-align: center;
}

.icon:hover
{
	fill: red;
}
.word:hover
{
	color: red;

}

.avator_style
{
	height: 100px;
}

.checkbox
{
	display: none;
}

.checkbox:checked + .avator_style {
    border: 1px solid red;
}

.satan_room{
	height: 600px;
	background: url('background/castle.jpg');
	background-size: 100% 100%;
}