@import "bootstrap";

body
{
	font-family: 'Press Start 2P', cursive;
}

.bg
{
	height: 580px;
	background-color: #000b84;
	color: white;
}

.wrap
{
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.blackwindow
{	
	background-color: black;
	border: solid white;
	font-size: 40px;
}

.logoimage
{
	max-width: 50%;
}

.icon
{
	height: 50px;
	width: 50px;
	fill: #fff;
}

.nav-item ul li 
{
	list-style: none;
	color: white;
	text-align: center;
}

.icon:hover
{
	fill: red;
}
.word:hover
{
	color: red;

}

.avator_style
{
	height: 100px;
}

.checkbox
{
	display: none;
}

.checkbox:checked + .avator_style {
    border: 1px solid red;
}

.satan_room{
	height: 600px;
	background: url('background/castle.jpg');
	background-size: 100% 100%;
}