
<div class="container mt-3">
	<div class="jumbotron jumbotron-fluid">
	  <div class="container">
	    <h1 class="display-4"><%= @category.title %></h1>
	    <p class="lead"><%= @category.description %></p>
	  </div>
	</div>
</div>